@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 34 78% 91%;
    --foreground: 20 14% 4%;
    --card: 0 0% 100%;
    --card-foreground: 20 14% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14% 4%;
    --primary: 16 100% 66%;
    --primary-foreground: 20 14% 4%;
    --secondary: 34 78% 85%;
    --secondary-foreground: 20 14% 4%;
    --muted: 34 78% 85%;
    --muted-foreground: 20 14% 40%;
    --accent: 0 84% 75%;
    --accent-foreground: 20 14% 4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 34 78% 81%;
    --input: 34 78% 81%;
    --ring: 16 100% 66%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14% 4%;
    --foreground: 0 0% 98%;
    --card: 20 14% 4%;
    --card-foreground: 0 0% 98%;
    --popover: 20 14% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 16 100% 66%;
    --primary-foreground: 20 14% 4%;
    --secondary: 20 14% 10%;
    --secondary-foreground: 0 0% 98%;
    --muted: 20 14% 10%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 84% 75%;
    --accent-foreground: 20 14% 4%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 14% 15%;
    --input: 20 14% 15%;
    --ring: 16 100% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
